.main-cont {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.navbar {
  background-color: red;
  width: 30%;
  height: 80vh;
}

.home {
  width: 68%;
  float: right;
}

.image-cont {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.image {
  width: 100px;
  height: 120px; 
  overflow: hidden;
}

.image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.annotation {
  margin: 0;
  padding: 0;
}