.main-cont {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.navbar {
  background-color: red;
  width: 30%;
  height: 80vh;
}

.home {
  width: 68%;
}

.image-cont {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.image {
  width: 100px;
  height: 100px; 
  overflow: hidden;
}

.image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.annotation {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  color: white;
}